<div class="p-fluid grid">
  <div class="field col">
    <span class="p-float-label">
      <p-autoComplete
        [(ngModel)]="selectedLocation"
        [showEmptyMessage]="true"
        [suggestions]="locations"
        name="place_name"
        (completeMethod)="searchPlace($event)"
        field="place_name"
        inputId="place_name"
        (onSelect)="handleLocationSelect($event)"
      ></p-autoComplete>
      <label for="autocomplete">Search Places</label>
    </span>
  </div>
</div>
